* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 96vh;
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-rows: 2fr 7fr;
  height: 100%;
  width: 100%;
  background-color: black;
  justify-items: center;
}

.markers {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  align-content: stretch;
  width: 30%;
  color: white;
}

.marker {
  text-align: center;
}

.wins {
  font-size: 6rem;
  text-shadow:
    0 0 8px white,
    0 0 20px white;
}

.name {
  font-size: 2rem;
  text-shadow:
    0 0 8px white,
    0 0 20px white;
}

.vs {
  font-size: 2rem;
  text-shadow:
    0 0 8px white,
    0 0 20px white;
}

.board {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 1px;
  margin-top: 10%;
  height: 70%;
  aspect-ratio: 1/1;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 0 8px 3px white;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-width: 0;
  min-height: 0;
  justify-items: stretch;
  gap: 1px;
  border: 0;
}

.cell {
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 8px 3px inset;
  min-width: 0;
  min-height: 0;
}

.token {
  height: 100%;
  aspect-ratio: 1;
}

#new-name-modal,
#next-match,
#win-modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  height: 200px;
  width: 300px;
  background-color: black;
  border: 3px solid white;
  box-shadow: 0 0 5px white;
  transition: box-shadow 5s ease-out;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 4px white;
  color: white;
}

#new-name-modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 5px white;
}

#name-input {
  outline: none;
  background: white;
  color: black;
  box-shadow:
    0 0 5px white,
    0 0 15px white,
    0 0 30px white;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

#new-name-modal button {
  font-size: 1rem;
}

#next-match[open],
#win-modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow:
    0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 100px white;
}

@starting-style {
  #next-match[open],
  #win-modal[open] {
    box-shadow: 0 0 8px 3px white;
  }
}

#win-modal::backdrop,
#next-match::backdrop {
  animation-name: dimmedBackdrop;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes dimmedBackdrop {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  box-shadow: 0 0 5px white;
  transition: 0.5s;
  outline: none;
}

button:hover {
  background-color: white;
  color: black;
  box-shadow:
    0 0 5px 5px white,
    0 0 10px white,
    0 0 30px white,
    0 0 60px white;
}
