* {
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 96vh;
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-rows: 2fr 7fr;
  height: 100%;
  width: 100%;
  background-color: black;
  justify-items: center;
}

.markers {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  align-content: stretch;
  width: 30%;
}

.marker {
  text-align: center;
}

.wins {
  font-size: 6rem;
  text-shadow:
    0 0 4px white,
    0 0 10px white;
}

.name {
  font-size: 2rem;
  text-shadow: 0 0 4px white;
}

.vs {
  font-size: 2rem;
  text-shadow: 0 0 4px white;
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  margin-top: 10%;
  height: 70%;
  aspect-ratio: 1/1;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 0 8px 3px white;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  gap: 1px;
  border: 0;
}

.cell {
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 8px 3px inset;
}

.token {
  width: 100%;
  aspect-ratio: 1;
}

#next-match {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  height: 200px;
  width: 300px;
  background-color: black;
  border: 3px solid white;
  box-shadow: 0 0 8px 3px white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 4px white;
}

#next-match[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#next-match::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  box-shadow: 0 0 5px white;
  transition: 0.5s;
  outline: none;
}

button:hover {
  background-color: white;
  color: black;
  box-shadow:
    0 0 5px 5px white,
    0 0 10px white,
    0 0 30px white,
    0 0 60px white;
}
